<div class="app container">
  <div class="row">
    <div class="medium-6 columns">
      <h1>{{link-to "The Agenda" "index"}}</h1>
    </div>
    <div class="medium-6 columns">
      <ul class="button-group">
        <li>{{link-to "Courses" "courses" class="button"}}</li>
        <li>{{link-to "Todo" "todos" class="button"}}</li>
        <li>{{link-to "Settings" "settings" class="button"}}</li>
    </div>
  </div> 
  <div class="row">
    {{outlet}}
  </div>
</div>
